* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Css applied to all elements of a type, or elements independent of position on page  */
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
/* These classes are applied to orient various images on the page */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* Css applied to HTML elements in sequential order based on position on the page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header text should have central characters emphasized with a color */
header h1 em {
    color: #d9dcd6;
}
em {
    font-style: normal;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This background image cuts the page, separating the header from the main content*/
picture img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main article img {
    max-height: 200px;
}

main article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Web Page contains a right side oriented 'figure' of text */
figure {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

figure article {
    margin-bottom: 32px;
    color: #ffffff;
}

figure article h3 {
    margin-bottom: 10px;
    text-align: center;
}
figure article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
